*{
    margin: 0;
    padding: 0;
}
.head1 {
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    padding-top: 15px;
}

.logo {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
}

.div1 {
    display: flex;
    justify-content: space-between;
}

.div2 {
    margin-right: 100px;
    margin-top: 10px;
}

.title{
    background-color: #dddbd9;
    font-family: 'Open Sans',sans-serif;
    padding: 10px;
}